.home-header-container{
    height: 60px;
    border: 1px solid red;
    width: 100%;
    padding: 0 20px;

    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;

        .left-content{
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url('../../assets/anh/logo.svg') center center no-repeat;
                height: 85%;
                width: 85%;
                cursor: pointer;
            }
            i{
                font-size: 30px;
                color: grey;
                cursor: pointer;
            }

        }
        .center-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .child-content{
                .subs-title{
                    font-weight: 400;
                    font-size: 12px;
                }
            }

        }
        .right-content{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}
.home-header-banner{
    background: url('../../assets/anh/bookingcare-cover-4.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title1{

    }

    .title2{

    }
    
    .search{

    }

    .options{

    }
}